include ../../components/layout/layout
include ../../components/header/header

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title
      block title
  body
    +layout()
      +layout__header()
        block header
      +layout__main()
        block main
      +layout__footer()
        block footer
    block scripts
    script(src="../../../../node_modules/jquery/dist/jquery.js") 