@import "../../theme/variables.scss";
.rate {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__header {
    display: flex;
    justify-content: space-between;

    h3:last-child {
      font-weight: 400;
      color: $color-dark-50;
    }

    margin-bottom: 0.8rem;
  }

  &__elements {
    display: flex;
  }

  &-button {
    display: flex;
    flex-direction: row-reverse;
    &:nth-child(2) {
      margin-left: 20px;
    }
    & input {
      -webkit-appearance: none;
      appearance: none;
      background-image: url("./img/star.svg");
      cursor: pointer;
      height: 24px;
      width: 24px;
      &:hover {
        background-image: url("./img/star_hovered.svg");
      }
      &:checked {
        background-image: url("./img/star_hovered.svg");
      }
    }
    input:nth-child(1):hover ~ input:nth-child(1n) {
      background-image: url("./img/star_hovered.svg");
    }
    input:nth-child(1):checked ~ input:nth-child(1n) {
      background-image: url("./img/star_hovered.svg");
    }
    input:nth-child(2):hover ~ input:nth-child(1n) {
      background-image: url("./img/star_hovered.svg");
    }
    input:nth-child(2):checked ~ input:nth-child(1n) {
      background-image: url("./img/star_hovered.svg");
    }
    input:nth-child(3):hover ~ input:nth-child(1n) {
      background-image: url("./img/star_hovered.svg");
    }
    input:nth-child(3):checked ~ input:nth-child(1n) {
      background-image: url("./img/star_hovered.svg");
    }
    input:nth-child(4):hover ~ input:nth-child(1n) {
      background-image: url("./img/star_hovered.svg");
    }
    input:nth-child(4):checked ~ input:nth-child(1n) {
      background-image: url("./img/star_hovered.svg");
    }
  }
}
